@media screen and (min-width: 992px) {
    /* header */

    .container {
        width: 60%;
    }

    .list ul {
        display: flex;
        list-style: none;
    }

    .list li {
        padding: 0 10px;
    }

    .btn-container {
        display: none;
    }

    /* planning section */

    .second-container {
        width: 100%;
    }

    .planning-section {
        display: flex;
        width: 50%;
        margin: 0 auto;
    }

    .benefits .benefits-card {
        width: 30%;
    }
}


@media screen and (min-width: 768px) {

    /* function section */

    .function-card-section {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .first-card {
        width: 65%;
    }

    .card {
        width: 30%;
    }

    /* planning section */

    .second-container {
        width: 100%;
    }

    /* testimonials section */

    .testimonial-card {
        display: flex;
    }

    .testimonial-card-img {
        width: 40%;
        height: 100%;
    }

    /* benefits section */

    .benefits {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .benefits-card {
        width: 48%;
    }

}