/* header */

@media screen and (min-width: 992px) {

    .container {
        width: 60%;
    }
    
    .list ul {
        display: flex;
        list-style: none;
    }

    .list li {
        padding: 0 10px;
    }

    .btn-container {
        display: none;
    }

}

/* first card section  */

@media screen and (min-width: 768px) {

    .function-card-section {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .first-card {
        width: 65%;
    }

    .card {
        width: 30%;
    }
    
}