/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* utilities */

.container {
    width: 90%;
    margin: 0 auto;
}

.second-container {
    width: 100%;
    margin: 0 auto;
    background-color: #9792e4;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-c-between {
    justify-content: space-between;
}


/* header */

header {
    background-color: #0084fd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    /* debug */
    height: 100px;
    line-height: 100px;
    
}

.list ul {
    display: none;
}

/* main */

main {
    margin-top: 150px;
}

/* function card section */

.function-card-section {
    width: 100%;
    gap: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    min-height: 900px ;
}

.first-card {
    background-color: #b5ddff;
    border-radius: 15px;
    width: 100%;
    /* debug */
    height: 400px;
    border: 1px solid black;
}

.card {
    background-color: #b5ddff;
    border-radius: 15px;
    width: 100%;
    /* debug */
    height: 400px;
    border: 1px solid black;
}

/* planning section */

.planning-section {
    padding: 50px 0 30px 0;
}

.right-planning {
    background-color: white;
    border-radius: 25px;
}

/* testimonials section */

.testimonial-section {
    padding: 30px 0 50px 0;
}

.testimonial-card {
    background-color: #9792e4;
    border-radius: 15px;
    width: 100%;
    /* debug */
    height: 300px;
    margin: 10px 0;
}

.testimonial-card-img {
    /* debug */
    border: 1px solid black;
    height: 150px;
}

/* benefits section */

.benefits-section {
    background-color: #9792e4;
    width: 100%;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.benefits-card {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    /* debug */
    height: 300px;
    border: 1px solid black;
}